@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Work+Sans&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Barlow", sans-serif;
}

.myBgPurple {
    background-color: #8452FF;
}

.myPurple {
    color: #8452FF;
}

.myBtn {
    background-color: #8452FF;
    border-radius: 2em;
    border: none;
    padding: 0.5em 1.4em;
    color: white;
    transition: 350ms;
    text-decoration: none;
}

.myBtn:hover {
    background-color: #6841bd;
    color: white;
    transition: 350ms;
}

.myBtnTwo {
    background-color: #7fc7d0;
    border-radius: 2em;
    border: none;
    padding: 0.5em 1.4em;
    color: white;
    transition: 350ms;
    text-decoration: none;
}

    .myBtnTwo:hover {
        background-color: #65a0a7;
        color: white;
        transition: 350ms;
    }

.qnt {
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #8452FF;
    transition: 350ms;
}

.qnt:focus {
    border: 1px solid #8EDCE6;
    outline: none;
    transition: 350ms;
}

.myBorder {
    border: 1px solid #cbcdcd;
    border-radius: 5px;
}

.myBg {
    background-color: #5c5f60;
}

.card-custom {
    margin: 10px 10px 10px 10px;
    padding: 0; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card-header-custom {
    background-color: #8452FF;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.card-body-custom {
    padding: 20px;
}

.card-text {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

    .card-text span {
        font-weight: bold;
    }

.icon {
    margin-right: 10px;
    color: #8452FF;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.detail-label {
    font-weight: bold;
    color: #555;
}

.detail-value {
    color: #333;
}