<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Esercitazione_M5_Seconda_Settimana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Esercitazione_M5_Seconda_Settimana.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light myBgPurple border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center px-4">
                <a class="navbar-brand text-white fs-3 fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-between align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {   <div class="d-flex">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Azioni Creazione
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">


                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Prenotazioni" asp-action="CreazionePrenotazione">Crea Prenotazione</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Camere" asp-action="CreaCamera">Crea Camere</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Clienti" asp-action="CreaCliente">Crea Cliente</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Azioni Cerca
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Prenotazioni" asp-action="CercaByCf">Cerca CF</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Prenotazioni" asp-action="CercaByPensione">Cerca Pensione</a>
                                        </li>
                                    </ul>
                                </div>    
                                <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Prenotazioni" asp-action="GetAllPrenotazioni">Lista Prenotazioni</a>
                                </li>
                                
                            </div>
                            <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Logout">Esci</a>
                            
                        }
                      
                    </ul>
                </div>
                @if(!User.Identity.IsAuthenticated)
                {
                <a class="nav-link text-white" asp-area="" asp-controller="Auth" asp-action="Login">Accedi</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
