<div class="container">
    <h1 class="text-center">Lista prenotazioni per C.F</h1>

    <div class="form-group mt-4">
        <label for="cf" class="control-label mb-1 ps-2">Inserisci il C.F per visualizzarne le prenotazioni:</label>
        <div class="d-flex mt-2">
            <input type="text" id="cf" name="cf" class="form-control qnt me-2">
            <button class="btn myBtn" id="searchButton">Cerca</button>
        </div>
    </div>

    <div id="prenotazioniContainer" class="mt-3">
    </div>
</div>
