
<h1>Prenotazioni</h1>
<label for="pensione">Per mostrare il numero totale di prenotazioni con "Pensione Completa" inserisci "Pensione Completa":</label>
<input type="text" id="pensione" name="pensione">
<button id="searchButtonP">Cerca</button>
<div id="prenotazioniContainer">
    <ul></ul>
</div>
