    <h1>Prenotazioni</h1>
    <label for="cf">Codice Fiscale:</label>
    <input type="text" id="cf" name="cf">
    <button id="searchButton">Cerca</button>
    <div id="prenotazioniContainer">
        <ul></ul>
    </div>
