<div class="container">
    <h1>Prenotazioni</h1>
    <label for="pensione">Per mostrare il numero totale di prenotazioni con "Pensione Completa" inserisci "Pensione Completa", altrimenti "Mezza Pensione" o "Prima Colazione":</label>
    <input type="text" id="pensione" name="pensione">
    <button class="btn btn-primary" id="searchButtonP">Cerca</button>
    <div id="prenotazioniContainer">
    </div>
</div>