<div class="container">
    <h1>Prenotazioni</h1>
    <label for="cf">Codice Fiscale:</label>
    <input type="text" id="cf" name="cf">
    <button class="btn btn-primary" id="searchButton">Cerca</button>
    <div id="prenotazioniContainer">
    </div>
</div>    
