@model Esercitazione_M5_Seconda_Settimana.Models.PrenotazioniServizio

@{
    ViewData["Title"] = "CreaPrenotazioneServizio";
}

<h1>CreaPrenotazioneServizio</h1>

<h4>PrenotazioniServizio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreaPrenotazioneServizio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPrenotazione" class="control-label"></label>
                <input asp-for="IdPrenotazione" class="form-control" />
                <span asp-validation-for="IdPrenotazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdServizio" class="control-label"></label>
                <input asp-for="IdServizio" class="form-control" />
                <span asp-validation-for="IdServizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantita" class="control-label"></label>
                <input asp-for="Quantita" class="form-control" />
                <span asp-validation-for="Quantita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
