<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenotazioni</title>
</head>
<body>
    <h1>Prenotazioni</h1>
    <label for="cf">Codice Fiscale:</label>
    <input type="text" id="cf" name="cf">
    <button id="searchButton">Cerca</button>

    <div id="prenotazioniContainer">
        <!-- Qui verranno visualizzate le prenotazioni -->
    </div>

   
</body>
    <script src="/js/site.js"></script>
</html>
