@model Esercitazione_M5_Seconda_Settimana.Models.Users

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Login</h1>

            <hr class="myBgPurple" />
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mt-3">
                    <label asp-for="Username" class="control-label mb-1 ps-2">Username:</label>
                    <input asp-for="Username" class="form-control qnt" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Password" class="control-label mb-1 ps-2">Password:</label>
                    <input type="password" asp-for="Password" class="form-control qnt" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Login" class="btn myBtn" />
                </div>
            </form>

            <div class="mt-3 text-center">
                <a asp-controller="Auth" asp-action="Register" class="text-decoration-none myPurple">Non hai ancora un account? Clicca qui!</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}