@model Esercitazione_M5_Seconda_Settimana.Models.Camera

@{
    ViewData["Title"] = "Crea Camera";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="text-center">Crea Camera</h1>

        <hr />
        <form asp-action="CreaCamera">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mt-3">
                <label asp-for="NumCamera" class="control-label mb-1">Inserisci numero camera:</label>
                <input asp-for="NumCamera" class="form-control" />
                <span asp-validation-for="NumCamera" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Descrizione" class="control-label mb-1">Inserisci descrizione:</label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="Tipologia" class="control-label mb-1">Inserisci tipologia:</label>
                <select asp-for="Tipologia" class="form-control">
                    <option value="" disabled selected>Seleziona una tipologia</option>
                    <option value="singola">Stanza singola</option>
                    <option value="doppia">Stanza doppia</option>
                </select>
                <span asp-validation-for="Tipologia" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Crea" class="btn myBtn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
